@font-face {
    font-family: "Okuda";
    src: url("fonts/Okuda.otf") format("opentype");
}

a {
    text-decoration: none;
    color: white;
}

hr {
    background-color: #5599ff;
    opacity: 100%;
    margin: 7px 0;
}

body {
    background-color: black;
}

.lcars-container, .lcars-container .row {
    height: 100%;
}

.lcars-container {
    width: calc(100vh * 1.777777777777778) !important;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    font-family: "Okuda", sans-serif !important;
    letter-spacing: 1.4px;
}

.lcars-sidebar {
    text-align: right;
    vertical-align: bottom;
    max-height: 100% !important;
}

.lcars-button {
    text-align: right !important;
    border: 0;
}

.lcars-button:active {
    color: white;
    background-color: black !important;
    transition: all 0.3s
}

.lcars-top-button {
    border: 3px solid black;
}

.lcars-separator>* {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/** MAIN PANEL START **/

.lcars-main {
    max-height: 100% !important;
}

.lcars-main-panel {
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left !important;
}

.lcars-main-panel::-webkit-scrollbar {
    width: 10px;
}

.lcars-main-panel::-webkit-scrollbar-track {
    border: 1px solid #5599ff;
}

.lcars-main-panel::-webkit-scrollbar-thumb {
    background: #5599ff;
}

.lcars-table {
    width: 100%;
    height: auto;
    font-size: 2rem;
    color: #5599ff;
    border-collapse: collapse;
}

.lcars-display-description{
    height: 100%;
    max-height: 100% !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lcars-display-description::-webkit-scrollbar {
    width: 10px;
}

.lcars-display-description::-webkit-scrollbar-track {
    border: 1px solid #5599ff;
}

.lcars-display-description::-webkit-scrollbar-thumb {
    background: #5599ff;
}

/** MAIN PANEL END **/

.row-v {
    --bs-gutter-y: 1.5rem;
    --bs-gutter-x: 0;
    height: 100%;
}

.row-v>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-right: 10px;
}

.col-v {
    flex: 1 0 0%;
}

.col-v-auto {
    flex: 0 0 auto;
    height: auto;
}

.col-v-0-5 {
    flex: 0 0 auto;
    height: 4.166666665%;
}

.col-v-1 {
    flex: 0 0 auto;
    height: 8.33333333%;
}

.col-v-2 {
    flex: 0 0 auto;
    height: 16.66666667%;
}

.col-v-3 {
    flex: 0 0 auto;
    height: 25%;
}

.col-v-4 {
    flex: 0 0 auto;
    height: 33.33333333%;
}

.col-v-5 {
    flex: 0 0 auto;
    height: 41.66666667%;
}

.col-v-6 {
    flex: 0 0 auto;
    height: 50%;
}

.col-v-7 {
    flex: 0 0 auto;
    height: 58.33333333%;
}

.col-v-8 {
    flex: 0 0 auto;
    height: 66.66666667%;
}

.col-v-8-5 {
    flex: 0 0 auto;
    height: 70.833333335%;
}

.col-v-9 {
    flex: 0 0 auto;
    height: 75%;
}

.col-v-10 {
    flex: 0 0 auto;
    height: 83.33333333%;
}

.col-v-11 {
    flex: 0 0 auto;
    height: 91.66666667%;
}

.col-v-12 {
    flex: 0 0 auto;
    height: 100%;
}

/* COLORS START */

.bg-blue-0 {
    background-color: #ccddff;
}

.bg-blue-10 {
    background-color: #5599ff;
}

.text-blue-10 {
    color: #5599ff;
}

.bg-blue-20 {
    background-color: #3366ff;
}

.bg-blue-30 {
    background-color: #0011ee;
}

.bg-blue-40 {
    background-color: #0411b6;
}

.bg-beige {
    background-color: #bbaa55;
}

.text-beige {
    color: #bbaa55;
}

.bg-purple {
    background-color: #9999ff;
}

.bg-black {
    background-color: black;
}

.bg-red-0 {
    background-color: #ff0101;
}

.bg-red-10 {
    background-color: #cc0101;
}

.bg-red-20 {
    background-color: #990000;
}

.bg-red-30 {
    background-color: #670100;
}

/* COLORS END*/